src/os/build/
src/os/dep/
src/hdd/asciimation/
src/boot/setup
src/boot/bootsect
src/os/.gdb_history
src/os/gitversion.c
src/loader/boot/hhuOS.bin
src/initrd/mod/
src/initrd/music/beep/
src/music/build/
src/initrd/asciimation/
src/hdd/mod/
src/modules/**/build
src/os/*.img
src/os/*.dump

# Project files and folders
cmake-build-debug
.gdb_history
.vscode/
.cproject
.project
.settings/
.idea

# Files generated during build
src/os/build/
src/os/dep/

# hhuOS kernel and initrd
src/loader/boot/hhuOS.bin
src/loader/boot/hhuOS.initrd

# hhuOS hard drive image
src/os/hdd.img

# hhuOS current commit
src/os/gitversion.c

