build/
hdd/asciimation/starwars.txt
.gdb_history
loader/boot/hhuOS.bin
loader/boot/hhuOS.initrd
initrd/asciimation/starwars.txt
hdd/mod/
tool/beepc/beepc
*.img
*.dump
*.iso
*.ko
*.beep
.builddirs
# Project files and folders
cmake-build-debug/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.gdb_history
.vscode/
.cproject
.project
.settings/
.idea
