set timeout=0
set default=0
set menu_color_highlight=light-blue/light-gray

if [ x$feature_all_video_module = xy ]; then
    insmod all_video
else
    insmod efi_gop
    insmod efi_uga
    insmod ieee1275_fb
    insmod vbe
    insmod vga
    insmod video_bochs
    insmod video_cirrus
fi

menuentry "hhuOS" {
    multiboot2 /boot/hhuOS.bin log_level=dbg log_ports=COM1 root=ide0p0,Filesystem::Fat::FatDriver
	module2  /boot/hhuOS.initrd initrd
}