name: release
on:
  push:
    branches:
    tags: 'v*'

jobs:
  release:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: olegtarasov/get-tag@v2.1.3
        id: tag

      - name: Install dependencies
        uses: amitie10g/install-package@v1.2.5
        with:
          apt: build-essential nasm gcc-multilib g++-multilib cmake libgl-dev python3 python3-distutils xorriso dosfstools mtools unzip wget ffmpeg git recode

      - name: Build towboot image
        run: HHUOS_REDISTRIBUTABLE_BUILD=1 ./build.sh --target towboot --type Default

      - name: Build limine image
        run: HHUOS_REDISTRIBUTABLE_BUILD=1 ./build.sh --target limine --type Default

      - name: Download licenses
        run: mkdir -p license && cp LICENSE license/hhuOS.txt &&
          wget -O license/Limine.txt https://raw.githubusercontent.com/limine-bootloader/limine/trunk/COPYING &&
          wget -O license/FatFs.txt https://raw.githubusercontent.com/hhuOS/FatFs/master/LICENSE &&
          wget -O license/doomgeneric.txt https://raw.githubusercontent.com/hhuOS/doomgeneric/master/LICENSE &&
          wget -O license/quakegeneric.txt https://raw.githubusercontent.com/hhuOS/quakegeneric/master/LICENSE &&
          wget -O license/tinygl.txt https://raw.githubusercontent.com/C-Chads/tinygl/main/LICENSE &&
          wget -O license/portablegl.txt https://raw.githubusercontent.com/rswinkle/PortableGL/refs/heads/master/LICENSE &&
          head -n 30 src/application/peanut-gb/Peanut-GB/peanut_gb.h > license/peanut-gb.txt &&
          wget -O license/2048-gb.txt https://raw.githubusercontent.com/Sanqui/2048-gb/master/LICENSE &&
          wget -O license/5-mazes.txt https://raw.githubusercontent.com/godai78/5-Mazes/main/LICENSE &&
          wget -O license/clownmdemu.txt https://raw.githubusercontent.com/Clownacy/clownmdemu/refs/heads/master/LICENCE.txt &&
          wget -O license/dragons-castle.txt https://raw.githubusercontent.com/sikthehedgehog/dragon/refs/heads/master/LICENSE &&
          wget -O license/miniplanets.txt https://raw.githubusercontent.com/sikthehedgehog/miniplanets/refs/heads/master/LICENSE.txt

      - name: Create artifact
        run: tar -czvf hhuOS-${{ github.ref_name }}.tar.gz hhuOS-limine.iso hhuOS-towboot.img hdd0.img floppy0.img run.sh README.md license

      - name: Publish Release
        uses: softprops/action-gh-release@v1
        with:
          files: hhuOS-${{ steps.tag.outputs.tag }}.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.PUBLISH_TOKEN }}